{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true,
    "navigator": true,
    "sessionStorage": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.stories.js"] }],
    "react/state-in-constructor": [0, "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "html": "ignore",
        "custom": "ignore",
        "exceptions": [""]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
